/*CSS Variables*/
:root {
	--primary: #CEF7A0;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html{
	box-sizing: border-box;
	font-family: Arial, Halvetica, sans-serif;
	color: var(--dark);
}
body{
	background-color: #ddd;
	margin: 30px 50px;
	line-height: 1.4;
}
.btn{
	background-color: #5b1865;
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}
img{
	max-width: 100%;
}
.wrapper{
	display: grid;
	grid-gap: 20px;
}

/*Navigation*/
.main-nav ul{
	display: grid;
	padding: 0;
	list-style: none;
	grid-gap: 1.5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-nav a{
	text-decoration: none;
	background-color: #40798c;
	color: var(--light);
	padding: 0.8rem;
	display: block;
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
	text-align: center;

}
.main-nav a:hover{
	background-color: var(--light);
	color: var(--dark);
}
/*Top Container*/
.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
	'showcase showcase top-box-a'
	'showcase showcase top-box-b';
}
/*showcase*/
.showcase {
	grid-area: showcase;
	min-height: 400px;
	background-image: url('http://static2.businessinsider.com/image/599b4a54b0e0b520008b667c-1190-625/13-best-selling-online-classes-you-can-enroll-in-for-10-right-now.jpg');
	opacity:0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	box-shadow: var(--shadow);
}
.showcase h1{
	font-size: 4rem;
	margin-bottom: 0;
	color: var(--light);
	text-shadow: 3px 3px 8px #222;
}
.showcase p{
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
	text-shadow: 3px 3px 6px #311;
}
/*top-box*/
.top-box{
	background-color: var(--primary);
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: var(--shadow);
	padding: 1.5rem;
}
.top-box .price{
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 400px;
	padding-bottom: 0.9rem;
}
.top-box-a{
	grid-area: top-box-a;
}
.top-box-b{
	grid-area: top-box-b;
}
/*BOXES*/
.boxes {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
	background-color: #40798c;
	color: var(--light);
	padding: 1.5rem;
	text-align: center;
	box-shadow: var(--shadow);
}
/*info*/
.info{
	opacity: 0.7;
	background-color: var(--dark);
	color: var(--light);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}
.info img{
	border: 7px solid #111;
	margin-right: 15px;
}
#infobtn{
	background-color: #ccc;
	color: var(--dark);
}
/*PORTFOLIO*/
.portfolio{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.portfolio img{
	width: 100%;
	box-shadow: var(--shadow);
}
footer{
	margin-to:2rem;
	background-color: var(--dark);
	color: var(--light);
	text-align: center;
	padding: 1rem;
}
/*MEDIA QUARIES*/
@media(max-width: 700px){
	.top-container{
		grid-template-areas: 
		'showcase showcase'
		'top-box-a top-box-b';
	}
	.showcase h1{
		font-size: 2.5rem;
	}
	.main-nav ul{
		grid-template-columns: 1fr 1fr;
	}
	.info{
		grid-template-columns: 1fr;
	}
	.info .btn{
		display: block;
		text-align: center;
		margin: auto;
	}
}
@media(min-width: 500px){
 .top-container{
		grid-template-areas: 
		'showcase '
		'top-box-a '
		'top-box-b';
	}	
	.main-nav ul{
		grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
	}
}